html, body {
	background-color: #FFF0F5;
	margin:0;
	top:0;
	left:0;
	font-family: 'Spartan', sans-serif;
}

.showBorder {
  background-color: slateblue;
  width: 500px;
  border: 15px solid violet;
  padding: 50px;
  margin: 20px;

}

.verse1 {
	width: 150%;
	text-align: center;
	color: purple;
	font-size: 100%;
	font-weight: bolder;
}

.prechorus1 {
	background-color: #9900cc;
	font-weight: bold;
	color: pink;
	border-radius: 50%;
	text-align: center;
}

.chorus1 {
	font-weight: 300;
    text-transform: uppercase;
    padding: 10%;
    color: slateblue;
    font-weight: thin;
    text-shadow: 2px 2px red;
}

.bridge1 {
	 text-align: right;
	 padding: 2%;
	 text-decoration: line-through;
	 font-size: 250%;
	 color: darkblue;
	 text-transform: lowercase;
}

.verse2 {
	width:50%;
	font-size: 60%;
	text-decoration: underline;
	color: slateblue;
}

.prechorus2 {
	background-color: violet;
	text-align: right;
	margin-right: 10%
}

.chorus2 {
    width: 75%;
    text-decoration: overline;
    padding-top: 2%;
    margin:auto;
    margin-bottom: 10%;
    text-shadow: 2px 2px 5px blue;
}

.bridge2 {
	width: 100%;
	text-transform: uppercase;
	background-color: lavender;
	color: purple;
}

.chorus3 {
	font-weight: 50;
	text-align: center;
	text-shadow: 7px 7px 10px purple;
	font-size: 5em;
}

.bridge3 {
	border: 2px solid;
	padding: 5px;
	padding-right: 5px;
	box-shadow: 5px 10px violet;
	text-align: center;
	text-transform: lowercase;
}

.chorus4 {
	text-transform: uppercase;
	text-align: right;
	margin-top: 5%;
	margin-right: 5%;
	font-weight: bold;

}

.endverse {
	text-align: left;
	margin-left: 5%;
	background-color: #9900cc;
	color: lavender;
}